.img-youtube{
	max-width: 30px; 
	margin-left: 10px; 
	margin-bottom:-30px;
}
.div-facebook{
	margin-top: -50px; 
	margin-bottom: 10px; 
	margin-left: 185px;
}
.img-facebook{
	max-width: 30px; 
	margin-left: 10px; 
	margin-bottom:-30px;
}
.img-logo{
	width: 70%; 
	margin-bottom: -10px; 
	margin-top: -20px
}