
	<div data-role="collapsible-set" data-theme="c" data-content-theme="a" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
		<div data-role="collapsible" data-theme="a" data-content-theme="b">
			<h3>¿Quienes somos?</h3>
			<p>Trio los clásicos esta conformado por un grupo de tres chavos apacionados por la música y despues de 5 años teniendo a experiencia para satisfacer a las personas con distintos generos en las diveras epocas de la cultura romantica. Los clásicos estan dispuestos a trabajar siempre dando lo mejor de si mismo para tener lo más contentos posibles a sus cliente, dejando la experiencia del recuerdo y del buen ambiente que se disfruta en familia y amigos.</p>
		</div>
		<div data-role="collapsible" data-theme="a" data-content-theme="b">
			<h3>Historia</h3>
			<p>En el año del 2012 un grupo de chavos (Omar Alejandro Aguilar Ortíz, Alejandro Castro Saucedo, Aldo Vladimir Pinedo Salazar, Juan José Escalante Villegas, Rodolfo Triana García) tenian la inquietud de conocer como erá vivir el mundo de la música. Fue así como comenzo todo. Estando tan solo en la preparatoria decidieron emprender en proyecto para la realización de un grupo de Rock al cual fue llamado Cruzigrama. Años despues....</p>
		</div>
		<div data-role="collapsible" data-theme="a" data-content-theme="b">
			<h3>Recursos Multimedia de la Empresa</h3>
			<p>Proceso de elaboración</p>
			<video controls width="100%" poster="imagenes/FelizNavidad.jpg">
				<source src="./video/FelizNavidad.mp4" type="video/mp4"/>

			</video>
		</div>
	</div>
	<script type="text/javascript"></script>

